<body class="welcome"> 
<div id="middle-heart">
    <h1>Welcome!</h1>
    <% if logged_in? %>
        <h1 class="text-info">You are logged in, <%= current_user.name.capitalize %>!</h1> 
        <%= button_to "Profile", current_user, method: :get, class: "btn btn-primary"%><br>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-primary" %>
    <% else %>
        <%= form_for :auth, url: '/login' do |f| %>
            <%= f.label :username %>
            <%= f.text_field :username %><br><br>
            <%= f.label :password%>
            <%= f.password_field :password%><br><br>
            <%= f.submit "Login", class: "btn btn-primary"%>
        <% end %>
    <% end %>
    <br><br><br><br><br><br><br><br><br><br>
    <h1>Hurry Your Dog Lover Soulmate Is Waiting For You!?</h1>
</div>
