<h1>Dogs</h1>

<h3>Search by breed:</h3>
<%= form_tag(dogs_path, method: :get) do %>
    <%= select_tag "dog", options_from_collection_for_select(@dogs, 'id', 'breed'), multiple: true, include_blank: "All"  %>

    <%= submit_tag ("Search") %>
<% end %>

<% @dogs.each do |dog|%>
    <h3><%= link_to dog.name, dog %></h3>
    Age: <%= dog.age %>
    Breed: <%= dog.breed %><br>
    <%= image_tag dog.image_url, width: "350", height: "250" %>
     <br><br>
<% end %>
