<h1><%= @user.name %></h1>
Username: <%= @user.username %><br>
Age: <%= @user.age %><br>
Location: <%= @user.location %><br>
Occupation: <%= @user.occupation %><br>
<br>
<%= button_to "Edit Profile", edit_user_path(@user), method: :get %>
<h1>Dogs<h1>
<ul>
<% if @user.dogs.empty? %>
    <h4>No dogs</h4>
<% else %>
    <% @user.dogs.each do |dog| %>
        <li><%= link_to dog.name, dog %></li>
    <% end %>
<% end %>
</ul>

<%= button_to "Add Dog", new_dog_path, method: :get %>

<%= button_to "Logout", logout_path, method: :delete %>
<%= button_to "Delete Account", @user, method: :delete %>


